.row
  .span9
    .page-header
      %h2 Management Team

    %h3 William Sobel, CEO
    %p
      William Sobel brings over 20 years experience architecting, managing, and developing complex applications for numerous industries. Prior to working for SystemInsights, Mr. Sobel was a visiting lecturer at UC Berkeley working at the RadLAB teaching agile web development and worked on various cloud scalability research projects resulting in the Olio web analysis toolkit. During his employment at the university, Mr. Sobel authored the MTConnect standard as a consultant to AMT (Association for Manufacturing Technology) to address the lack of standardized inter-device communication in manufacturing. Prior to his work at UC Berkeley, Mr. Sobel was VP/Chief Architect at MSCI-Barra, specializing in financial risk management software for some of the largest asset management companies in the world. Mr. Sobel led a team to architect and build their hosted risk management software as a service (SaaS) platform.
    %p
      In 1995, Mr. Sobel’s co-founding Redpoint Software, a leading capital markets enterprise risk management software company. At Redpoint, Mr. Sobel architected and built a real-time distributed database caching infrastructure to support fault tolerant parallelized analytics for financial risk management and trading systems. He then sold the company to Barra in 1998. Prior to founding Redpoint, Mr. Sobel worked for Isis Distributed Systems, where he designed and built the distributed high-availability infrastructure for the Swiss Stock Exchange Trading System in Zürich using the Isis toolkit. 
    %p
      In addition to Mr.Sobel's corporate experience, he has extensive consulting experience helping companies succeed with object-oriented design and construction; some of these include energy commodities trading, automobile manufacturing, microprocessor fabrication, air traffic control, and market research. 

    %h3 Dr. Athulan Vijayaraghavan, CTO
    %p
      Athulan Vijayaraghavan brings fresh insight in developing tools to improve the performance of manufacturing processes and systems. Dr. Vijayaraghavan obtained his Ph.D from UC Berkeley in Mechanical Engineering in Manufacturing with a minor in Computer Science. His doctoral research involved integrating product design with process design for manufacturing high-precision products. While at Berkeley, he was a developer of the MTConnect standard, and built and deployed the first suite of MTConnect-enabled applications in research and industrial environments. Dr. Vijayaraghavan also has extensive knowledge in the operational management of modern manufacturing plants. 

    .page-header
      %h2 Advisors

    %h3 Dr. David Dornfeld
    %p
      Professor David Dornfeld is the Will C. Hall Family Chair Professor of Engineering at the University of California - Berkeley, and Director of the Laboratory for Manufacturing and Sustainability. He is the former Chairman of the MTConnect Technical Advisory Group and was a key driving force behind the MTConnect standard. His expertise includes flexible manufacturing systems, signal processing and intelligent sensors for untended manufacturing, precision manufacturing processes, and environmentally conscious (green) manufacturing. He has authored more than 350 technical papers, spoken at more than 100 international conferences, and authored or contributed to 27 books in his area of expertise.

    %h3 Dr. Armando Fox
    %p
      Armando Fox is an Adjunct Associate Professor at UC Berkeley and a co-founder of the Berkeley RAD Lab. Prior to that he was an Assistant Professor of Computer Science at Stanford, and received his PhD, MS and BS degrees at Berkeley, Illinois at MIT respectively. His current research interests include applied statistical machine learning and cloud computing; he is a co-author of the recently released position paper “Above the Clouds: A Berkeley View of Cloud Computing” and has frequently lectured on this topic. He has published several papers in collaboration with top machine learning researchers on the application of machine learning to diagnosing, characterizing and identifying operational problems in datacenter-scale and cloud computing installations. His 2003 collaboration with David Patterson on Recovery-Oriented Computing earned him the distinction of being included in the “Scientific American 50” top researchers. In previous lives he helped design the Intel Pentium Pro microprocessor and founded a company to commercialize his UC Berkeley dissertation research on mobile computing.

    %h3 Dr. Steven Ray 
    %p
      Dr. Steven Ray received his B.Sc. in Physics from the University of Bristol in England and his Ph.D. in Mechanical and Aerospace Engineering from Princeton University. He has a twenty-seven year track record of initiating and leading technical R&D projects at the National Institute of Standards and Technology (NIST). His expertise is in information interoperability and standards for domains including the smart electrical grid, electronic business, supply chains and manufacturing, and in the application of semantics and ontologies to standards. He led the establishment of a new extramural program (TIMA - Technologies for the Integration of Manufacturing Applications) on assignment to the NIST Advanced Technology Program, and served as Chairman of the IGES/PDES Organization that coordinated the U.S. participation in the creation of the STEP product data standard (STEP - Standard for the Exchange of Product Model Data, ISO 10303). He has served on numerous strategic and technical advisory boards to organizations such as the University of Maryland Institute for Systems Research, PDES Inc., Semiconductor Research Corporation, US PRO, and is currently a Distinguished Research Fellow at Carnegie Mellon University Silicon Valley, and a Special Advisor to UC Berkeley’s Center for Information Technology Research in the Interest of Society (CITRIS). 
  .span3
    .well
      %h4 Email
      %a{:href=>"http://systeminsights.com/mailto:sales@systeminsights.com"} sales@systeminsights.com 

      %h4 Main office
      %address
        2550 Ninth Street, Suite 204B
        %br
        Berkeley, CA 94710
        %br
        %br
        Tel: +1 510-684-6400  

      %h4 India office
      %address
        235/1A & 2C, Vengaivasal Main Road
        %br
        Madambakkam Post, Selaiyur
        %br
        Chennai, 600059
        %br
        %br
        Tel: +91 44 2278 0305 
        %br
        +91 44 2278 1898 

