.row
  .span7.offset2
    %iframe{:frameborder => "0", :height => "350", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=2550+ninth+st+berkeley+ca+&sll=12.981186,80.221088&sspn=3.451984,3.641968&ie=UTF8&hq=&hnear=2550+9th+St,+Berkeley,+Alameda,+California+94710&t=m&ll=37.859444,-122.291818&spn=0.078878,0.169086&z=13&iwloc=A&output=embed", :width => "425"}
    %br/
    %small
      %a{:href => "http://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=2550+ninth+st+berkeley+ca+&sll=12.981186,80.221088&sspn=3.451984,3.641968&ie=UTF8&hq=&hnear=2550+9th+St,+Berkeley,+Alameda,+California+94710&t=m&ll=37.859444,-122.291818&spn=0.078878,0.169086&z=13&iwloc=A", :style => "color:#0000FF;text-align:left"} View Larger Map 

    %br

    %iframe{:frameborder => "0", :height => "350", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://maps.google.co.in/maps?f=q&source=s_q&hl=en&geocode=&q=systeminsights&aq=&sll=10.782836,78.288503&sspn=6.278189,10.821533&ie=UTF8&hq=systeminsights&hnear=&ll=12.904224,80.167644&spn=0.006086,0.010568&t=m&z=14&iwloc=A&cid=5169998821153073881&output=embed", :width => "425"}
    %br/
    %small
      %a{:href => "http://maps.google.co.in/maps?f=q&source=embed&hl=en&geocode=&q=systeminsights&aq=&sll=10.782836,78.288503&sspn=6.278189,10.821533&ie=UTF8&hq=systeminsights&hnear=&ll=12.904224,80.167644&spn=0.006086,0.010568&t=m&z=14&iwloc=A&cid=5169998821153073881", :style => "color:#0000FF;text-align:left"} View Larger Map 

  .span3
    .well
      %h4 Email
      %a{:href=>"http://systeminsights.com/mailto:sales@systeminsights.com"} sales@systeminsights.com 

      %h4 Main office
      %address
        2550 Ninth Street, Suite 204B
        %br
        Berkeley, CA 94710
        %br
        %br
        Tel: +1 510-684-6400  

      %h4 India office
      %address
        235/1A & 2C, Vengaivasal Main Road
        %br
        Madambakkam Post, Selaiyur
        %br
        Chennai, 600059
        %br
        %br
        Tel: +91 44 2278 0305 
        %br
        +91 44 2278 1898 

