.page-header
  %h3 Full time positions
System Insights is hiring engineers and software developers for our R&D office in Chennai, India to accelerate our pace of development and to better serve the fast growing Indian manufacturing sector. Benefits include excellent compensation, ESOPs, foreign travel, and rapid growth opportunities. If you are interested, please contact jobs@systeminsights.com with a detailed resume.

%br
%br

%ul
  %li
    %a{:href=>"http://systeminsights.com/assets/38/RDEngr-EE.pdf"}
      R&D Engineer - Energy Efficiency 
  %li
    %a{:href=>"http://systeminsights.com/assets/39/RDEngr-MS.pdf"}
      R&D Engineer - Manufacturing Systems 

.page-header
  %h3 Internships and Graduate Trainees
Do you have outstanding technical/engineering qualifications, strong analytical skills, and a passion for problem solving? Do you want to work in a fast-paced startup environment and build innovative technology? System Insights is hiring exceptionally qualified students and recent graduates as Interns and Graduate Trainees at our Chennai office, starting Summer 2010. Send a detailed curriculum vitae, outlining your project experience and skill sets to jobs@systeminsights.com. 
