.row
  .span5.offset3
    .well
      %br
      %a{:href=>"http://github.com/mtconnect/cppagent"}
        %img{:src => "assets/mtconnect.png"}
      %h3 MTconnect
      MTConnect is a set of open, royalty-free standards intended to foster greater interoperability between controls, devices and software applications by publishing data over networks using the Internet Protocol. 
      %br
      %br
      System Insights, Inc. is an MTConnect Institute Partner and continues to support and develop the advancement of the standard. 
      %br
      %br
      Here at System Insights, we are committed to supporting MTConnect and donate a considerable amount of time and resources to make sure the standard continues its rapid rate of adoption and progress. To find out more visit the MTConnect Institute. 
