%br
%br
%br
.row
  .span2.offset2
    %br
    %br
    %br
    %img{:src=>"assets/vimana-logo-big.png"}

  .span5.offset1
    %p
      Vimana by System Insights is a revolutionary software platform to achieve dramatic improvements in production efficiency. With vimana, users can understand the causes of production losses on the shop floor, including machine breakdowns, poor quality, material starvation, and incorrect operation. vimana’s Manufacturing Learning Engine analyzes data collected in real-time from a wide variety of data sources throughout the shop floor – including CNCs, PLCs and sensors – and finds hidden patterns and trends that identify the sources of production losses, and indicate the best strategies to decrease, and ultimately eliminate them.
    %p
      See a live demo at IMTS 2012 in Chicago, IL between September 10th and 15th. We will be co-located with Mazak at S-8300 and Oracle at N-6995.
    %p
      Contact us to get access to a customized live demo. 
%br

.row
  .span9.well.offset1  
    #myCarousel.carousel.slide
      .carousel-inner
        .item.active
          %img{:src=>"assets/screen1.png"}
        .item
          %img{:src=>"assets/screen2.png"}
        .item
          %img{:src=>"assets/screen3.png"}
      %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} &lsaquo; 
      %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} &rsaquo;  

.row
  .span4
    .well.bottle
      %h4 Reduce production losses
      .row
        .span1
          %img{:src => "assets/01-availability.png"}
        .span2AndHalf
          %p vimana auto-classifies production losses, enabling you to focus more on problem solving, and less on problem finding, leading to improved production. 
  .span4
    .well.bottle
      %h4 Targeted improvements 
      .row
        .span1
          %img{:src => "assets/02-target.png"}
        .span2AndHalf
          %p With detailed analytics of device downtimes, vimana lets you perform targeted improvements that have the greatest impact on your plant’s productivity.
  .span4
    .well.bottle
      %h4 Justify new capital expenses
      .row
        .span1
          %img{:src => "assets/03-capital.png"}
        .span2AndHalf
          %p vimana keeps detailed historical records of the productivity and production losses of all your machine tools, giving you the data needed to justify new capital expenses.
  .span4
    .well.bottle
      %h4 Reduce part tracking 
      .row
        .span1
          %img{:src => "assets/01-availability.png"}
        .span2AndHalf
          %p Parts loaded in machine tools are automatically tracked by vimana, giving everyone in the plant instant knowledge of where any part is being machined.
  .span4
    .well.bottle
      %h4 Rich reporting 
      .row
        .span1
          %img{:src => "assets/05-reports.png"}
        .span2AndHalf
          %p vimana lets you dig deep into your shop’s performance with detailed historical reports. 
  .span4
    .well.bottle
      %h4 Easier technology decisions 
      .row
        .span1
          %img{:src => "assets/06-decisions.png"}
        .span2AndHalf
          vimana helps you identify the areas where a machine tool’s performance has to be improved, allowing you to pick the most bang for the buck technology. 
  .span4
    .well.bottle
      %h4 First step to the future 
      .row
        .span1
          %img{:src => "assets/07-future.png"}
        .span2AndHalf
          vimana lays the groundwork to further improve resource management in your plant, enabling Inventory Tracking and Production Scheduling systems. 
