%br
.row
  .span4.offset4
    %img{:src=>"assets/vimana-logo-big.png"}

%br
%br
%br
.desc
  %p
    Vimana by System Insights is a revolutionary software platform to achieve dramatic improvements in production efficiency. With vimana, users can understand the causes of production losses on the shop floor, including machine breakdowns, poor quality, material starvation, and incorrect operation. vimana’s Manufacturing Learning Engine analyzes data collected in real-time from a wide variety of data sources throughout the shop floor – including CNCs, PLCs and sensors – and finds hidden patterns and trends that identify the sources of production losses, and indicate the best strategies to decrease, and ultimately eliminate them.

  %p
    See a live demo at IMTS 2012 in Chicago, IL between September 10th and 15th. We will be co-located with Mazak at S-8300 and Oracle at N-6995.

  %p
    Contact us to get access to a customized live demo. 

.row
  .span4
    .well
      %h4 Reduce production losses
      vimana auto-classifies production losses, enabling you to focus more on problem solving, and less on problem finding, leading to improved production. 
  .span4
    .well
      %h4 Targeted improvements 
      With detailed analytics of device downtimes, vimana lets you perform targeted improvements that have the greatest impact on your plant’s productivity.
  .span4
    .well
      %h4 Justify new capital expenses
      vimana keeps detailed historical records of the productivity and production losses of all your machine tools, giving you the data needed to justify new capital expenses.
  .span4
    .well
      %h4 Reduce part tracking 
      Parts loaded in machine tools are automatically tracked by vimana, giving everyone in the plant instant knowledge of where any part is being machined.
  .span4
    .well
      %h4 Rich reporting 
      vimana lets you dig deep into your shop’s performance with detailed historical reports. 
  .span4
    .well
      %h4 Easier technology decisions 
      vimana helps you identify the areas where a machine tool’s performance has to be improved, allowing you to pick the most bang for the buck technology. 
  .span4
    .well
      %h4 First step to the future 
      vimana lays the groundwork to further improve resource management in your plant, enabling Inventory Tracking and Production Scheduling systems. 
