%br
%br
%br
%br
%br
%br
.row
  .span5
    .logo
      %img{:src => "assets/SI-Logo.png"}
      %span.tag Manufacturing Innovation
  .span5.offset1.well
    %h3 Manufacturing Innovation
    %p
      System Insights is developing software tools to improve the efficiency and productivity of manufacturing systems. Our tools enable the realtime tracking of resource and information flows in manufacturing enterprises, and can be applied in optimizing the organization and planning of manufacturing systems. Our tools are developed based on the widely adopted MTConnect manufacturing data standard, and are compliant across a wide range of machine tools and manufacturing equipment. 
