.nav.nav-pills
  %li
    %a{:href=>"/"} Home
  %li
    %a{:href=>"/company"} Company
  %li
    %a{:href=>"/products"} Products
  %li
    %a{:href=>"/open_source"} Open Source
  %li
    %a{:href=>"/jobs"} Jobs
  %li
    %a{:href=>"/about"} About us
  %li
    %a{:href=>"/contact"} Contact
  %li
    %a{:href=>"/blog"} Blog
